# Machine Learning
## First part
### Marta

# Data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train_data = pd.read_csv('project_data/train.csv')
test_data = pd.read_csv('project_data/test.csv')
train_data

,carID,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
0,69512,VW,Golf,2016.0,22290,Semi-Auto,28421.0,Petrol,NaN,11.417268,2.0,63.0,4.000000,0.0
1,53000,Toyota,Yaris,2019.0,13790,Manual,4589.0,Petrol,145.0,47.900000,1.5,50.0,1.000000,0.0
2,6366,Audi,Q2,2019.0,24990,Semi-Auto,3624.0,Petrol,145.0,40.900000,1.5,56.0,4.000000,0.0
3,29021,Ford,FIESTA,2018.0,12500,anual,9102.0,Petrol,145.0,65.700000,1.0,50.0,-2.340306,0.0
4,10062,BMW,2 Series,2019.0,22995,Manual,1000.0,Petrol,145.0,42.800000,1.5,97.0,3.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75968,37194,Mercedes,C Class,2015.0,13498,Manual,14480.0,etrol,125.0,53.300000,2.0,78.0,0.000000,0.0
75969,6265,Audi,Q3,2013.0,12495,Semi-Auto,52134.0,Diesel,200.0,47.900000,2.0,38.0,2.000000,0.0
75970,54886,Toyota,Aygo,2017.0,8399,Automatic,11304.0,Petrol,145.0,67.000000,1.0,57.0,3.000000,0.0
75971,860,Audi,Q3,2015.0,12990,Manual,69072.0,iesel,125.0,60.100000,2.0,74.0,2.000000,0.0
75972,15795,Ford,Fiesta,2018.0,10495,Manual,16709.0,Petro,145.0,64.200000,1.1,38.0,1.000000,0.0

In [ ]:
train_data.info()
train_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75973 entries, 0 to 75972
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   carID           75973 non-null  int64
 1   Brand           74452 non-null  object
 2   model           74456 non-null  object
 3   year            74482 non-null  float64
 4   price           75973 non-null  int64
 5   transmission    74451 non-null  object
 6   mileage         74510 non-null  float64
 7   fuelType        74462 non-null  object
 8   tax             68069 non-null  float64
 9   mpg             68047 non-null  float64
 10  engineSize      74457 non-null  float64
 11  paintQuality%   74449 non-null  float64
 12  previousOwners  74423 non-null  float64
 13  hasDamage       74425 non-null  float64
dtypes: float64(8), int64(2), object(4)
memory usage: 8.1+ MB

,carID,year,price,mileage,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
count,75973.000000,74482.000000,75973.000000,74510.000000,68069.000000,68047.000000,74457.000000,74449.000000,74423.000000,74425.0
mean,37986.000000,2017.096611,16881.889553,23004.184088,120.329078,55.152666,1.660136,64.590667,1.994580,0.0
std,21931.660338,2.208704,9736.926322,22129.788366,65.521176,16.497837,0.573462,21.021065,1.472981,0.0
min,0.000000,1970.000000,450.000000,-58540.574478,-91.121630,-43.421768,-0.103493,1.638913,-2.345650,0.0
25%,18993.000000,2016.000000,10200.000000,7423.250000,125.000000,46.300000,1.200000,47.000000,1.000000,0.0
50%,37986.000000,2017.000000,14699.000000,17300.000000,145.000000,54.300000,1.600000,65.000000,2.000000,0.0
75%,56979.000000,2019.000000,20950.000000,32427.500000,145.000000,62.800000,2.000000,82.000000,3.000000,0.0
max,75972.000000,2024.121759,159999.000000,323000.000000,580.000000,470.800000,6.600000,125.594308,6.258371,0.0

In [ ]:
train_data['year'].value_counts()

year
2019.000000    20271
2017.000000    16146
2016.000000    11502
2018.000000    10304
2015.000000     5733
2020.000000     3174
2014.000000     2930
2013.000000     1902
2012.000000      478
2011.000000      318
2010.000000      241
2009.000000      228
2008.000000      158
2007.000000      123
2010.676968       82
2023.116964       77
2005.000000       64
2006.000000       62
2010.746403       58
2023.977311       55
2023.389822       53
2011.210853       50
2010.565009       47
2023.267989       43
2023.605276       39
2009.816757       37
2010.371546       35
2004.000000       35
2024.121759       34
2003.000000       29
2023.367078       26
2002.000000       25
2012.695740       21
2010.268635       20
2022.696685       19
2001.000000       15
2011.111188       15
2022.878006       12
2000.000000        6
1998.000000        5
1999.000000        5
1970.000000        2
1997.000000        2
1996.000000        1
Name: count, dtype: int64

In [ ]:
train_data.isnull().sum()
train_data = train_data.dropna()
train_data

,carID,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
1,53000,Toyota,Yaris,2019.0,13790,Manual,4589.000000,Petrol,145.0,47.9,1.5,50.0,1.000000,0.0
2,6366,Audi,Q2,2019.0,24990,Semi-Auto,3624.000000,Petrol,145.0,40.9,1.5,56.0,4.000000,0.0
3,29021,Ford,FIESTA,2018.0,12500,anual,9102.000000,Petrol,145.0,65.7,1.0,50.0,-2.340306,0.0
4,10062,BMW,2 Series,2019.0,22995,Manual,1000.000000,Petrol,145.0,42.8,1.5,97.0,3.000000,0.0
5,14704,BMW,3 Series,2014.0,8199,anual,101153.348285,Diesel,30.0,65.7,2.0,74.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75968,37194,Mercedes,C Class,2015.0,13498,Manual,14480.000000,etrol,125.0,53.3,2.0,78.0,0.000000,0.0
75969,6265,Audi,Q3,2013.0,12495,Semi-Auto,52134.000000,Diesel,200.0,47.9,2.0,38.0,2.000000,0.0
75970,54886,Toyota,Aygo,2017.0,8399,Automatic,11304.000000,Petrol,145.0,67.0,1.0,57.0,3.000000,0.0
75971,860,Audi,Q3,2015.0,12990,Manual,69072.000000,iesel,125.0,60.1,2.0,74.0,2.000000,0.0
75972,15795,Ford,Fiesta,2018.0,10495,Manual,16709.000000,Petro,145.0,64.2,1.1,38.0,1.000000,0.0

In [ ]:
train_data['year'] = [int(i) for i in train_data['year']]
train_data['year'].value_counts()

/var/folders/hw/9xdxx_2x1yngcbg5k1r1r3yw0000gn/T/ipykernel_95057/1424032089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['year'] = [int(i) for i in train_data['year']]

year
2019    14500
2017    11921
2016     8556
2018     7482
2015     4159
2020     2437
2014     2165
2013     1417
2012      357
2010      354
2011      266
2023      208
2009      201
2008      113
2007       81
2006       47
2005       40
2024       31
2004       26
2022       24
2003       23
2002       14
2001       13
2000        5
1999        4
1998        2
1996        1
1970        1
1997        1
Name: count, dtype: int64

In [ ]:
#train_data['transmission'].value_counts()
#train_data['transmission'] = [i.lower() for i in train_data['transmission']]
#train_data['transmission'].value_counts()

In [ ]:
'''for i in train_data['transmission']:
    if i == 'anual' or i == 'manua' or i == ' manual' or i == 'manual ' or i == 'anua' or i == ' manual ':
        train_data['transmission'][train_data['transmission'] == i] = 'manual'
    elif i == 'automatic' or i == 'utomatic' or i == 'automati' or i == 'utomati':
        train_data['transmission'][train_data['transmission'] == i] = 'automatic'
    elif i == 'semi-auto' or i == 'semi-aut' or i == 'emi-auto' or i == 'emi-aut':
        train_data['transmission'][train_data['transmission'] == i] = 'semi-auto'
    elif i == 'unknown' or i == 'unknow' or i == 'nknown' or i == 'nknow':
        train_data['transmission'][train_data['transmission'] == i] = 'unknown'
'''
#train_data['transmission'].value_counts()

"for i in train_data['transmission']:\n    if i == 'anual' or i == 'manua' or i == ' manual' or i == 'manual ' or i == 'anua' or i == ' manual ':\n        train_data['transmission'][train_data['transmission'] == i] = 'manual'\n    elif i == 'automatic' or i == 'utomatic' or i == 'automati' or i == 'utomati':\n        train_data['transmission'][train_data['transmission'] == i] = 'automatic'\n    elif i == 'semi-auto' or i == 'semi-aut' or i == 'emi-auto' or i == 'emi-aut':\n        train_data['transmission'][train_data['transmission'] == i] = 'semi-auto'\n    elif i == 'unknown' or i == 'unknow' or i == 'nknown' or i == 'nknow':\n        train_data['transmission'][train_data['transmission'] == i] = 'unknown'\n"

In [ ]:
train_data['transmission'] = (
    train_data['transmission']
    .str.strip().str.lower()  # clean spaces and case
    .replace({
        'anual': 'manual',
        'manua': 'manual',
        'anua': 'manual',
        'automatic': 'automatic',
        'utomatic': 'automatic',
        'automati': 'automatic',
        'utomati': 'automatic',
        'semi-aut': 'semi-auto',
        'emi-auto': 'semi-auto',
        'emi-aut': 'semi-auto',
        'unknow': 'unknown',
        'nknown': 'unknown',
        'nknow': 'unknown'
    })
)
train_data['transmission'].value_counts()

/var/folders/hw/9xdxx_2x1yngcbg5k1r1r3yw0000gn/T/ipykernel_95057/801203035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['transmission'] = (

transmission
manual       30660
semi-auto    12317
automatic    10935
unknown        532
other            5
Name: count, dtype: int64

In [ ]:
train_data['fuelType'] = train_data['fuelType'].str.strip().str.lower()
train_data['fuelType'].value_counts()

/var/folders/hw/9xdxx_2x1yngcbg5k1r1r3yw0000gn/T/ipykernel_95057/1850755128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['fuelType'] = train_data['fuelType'].str.strip().str.lower()

fuelType
petrol      28984
diesel      21473
hybrid       1669
petro         614
etrol         602
iesel         444
diese         441
other         122
hybri          34
ybrid          33
etro           12
iese           10
othe            5
ther            4
electric        2
Name: count, dtype: int64

In [ ]:
train_data['fuelType'].replace({
    'petro': 'petrol',
    'etrol': 'diesel',
    'etro': 'petrol',
    'iesel': 'diesel',
    'diese': 'diesel',
    'iese': 'diesel',
    'hybri': 'hybrid',
    'ybrid': 'hybrid',
    'othe': 'other',
    'ther': 'other'}, inplace=True)
train_data['fuelType'].value_counts()

/var/folders/hw/9xdxx_2x1yngcbg5k1r1r3yw0000gn/T/ipykernel_95057/2945609353.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['fuelType'].replace({
/var/folders/hw/9xdxx_2x1yngcbg5k1r1r3yw0000gn/T/ipykernel_95057/2945609353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['fuelType'].replace({

fuelType
petrol      29610
diesel      22970
hybrid       1736
other         131
electric        2
Name: count, dtype: int64

that's a good start